<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploaded</title>
    <%- include("partials/head")%>
</head>
<body>
    <%- include("partials/navigation")%>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animate__animated animate__fadeInDown">
                    <div class="card-body">
                        <form action="/upload" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Title" class="form-control">
                            </div>
                            
                            <div class="input-group mt-3">
                                <input type="file" name="image" class="form-control" id="inputGroupFile02">
                            </div>

                            <div class="form-group mt-3">
                                <textarea class="form-control" name="description" placeholder="Description" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>

                            <div class="form-group mt-3">
                                <button type="submit" class="btn btn-success w-100">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
